.HomePage {
  width: 100%; /* 100vh forces to cover the screen. 100% only cover the screen if there is a lot of content. */
  background-color: lightgoldenrodyellow;
  height: 100%;
}

.HomePage .container {
  padding-top: 2px;
 
}

.HomePage .container .title {
  padding-left: 8px;
  margin-bottom: 16px;
  font-size: 20px;
  letter-spacing: -0.75px;
}

.HomePage .container img{
  vertical-align: -webkit-baseline-middle;
  float: right;
 
  
}

